#main-container
{
  background-color: #000000;
  color:#ffffff;
  padding-bottom:70px;
}

#navbar-style
{
  background-color: #000000;
  border-bottom: 2px solid #ffffff;
}

#footer-style
{
  background-color: #000000;
  border-top: 2px solid #ffffff;
}

.pullDown-left
{
  border-left: 1px dashed #ffffff;
}

.pullDown-right
{
  border-right: 1px dashed #ffffff;
}

.center-content
{
  text-align: center;
}

p
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li
{
  color:#ffffff;
}
