#main-container
{
  background-color: #000000;
  color:#ffffff;
  padding-bottom:70px;
}

#navbar-style
{
  background-color: #000000;
  border-bottom: 2px solid #ffffff;
}

#footer-style
{
  background-color: #000000;
  border-top: 2px solid #ffffff;
}

.img-margins
{
  margin-top: 40px;
  margin-bottom: 40px;
}

.center-content
{
  text-align: center;
}

.inline-header
{
  display: inline;
}

p h2 h3
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


