<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  About
{% endblock %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h1>Team Noble Prize</h1>
      <h2>Members:</h2>
      Ellen Wiberg, Christopher Bentson, Chrystian Bueno, Rick Liao
      <h3>Ellen Wiberg</h3>
      <ul>
				<li>photo</li>
				<li>bio</li>
				<li>major responsibilities</li>
				<li>no. of commits</li>
				<li>no. of issues</li>
				<li>no. of unit tests</li>
			</ul>
      <h3>Christopher Bentson</h3>
      <ul>
				<li>photo</li>
				<li>bio</li>
				<li>major responsibilities</li>
				<li>no. of commits</li>
				<li>no. of issues</li>
				<li>no. of unit tests</li>
			</ul>
      <h3>Chrystian Bueno</h3>
      <ul>
				<li>photo</li>
				<li>bio</li>
				<li>major reponsibilities</li>
				<li>no. of commits</li>
				<li>no. of issues</li>
				<li>no. of unit tests</li>
			</ul>
      <h3>Rick Liao</h3>
      <img src='/static/rick.jpg' height='200', width='200'>
      <ul>
				<li>bio</li>
				<li>Set up server and basic website navigation</li>
				<li>no. of commits</li>
				<li>no. of issues</li>
				<li>no. of unit tests</li>
			</ul>
      <h2>Stats</h2>
      <ul>
				<li>total no. of commits</li>
				<li>total no. of issues</li>
				<li>total no. of unit tests</li>
				<li><b>Apiary API</b></li>
				<li>a link to the <b>GitHub Issue Tracker</b></li>
				<li>a link to the <b>GitHub Repo</b></li>
				<li>a link to the <b>GitHub Wiki</b></li>
			</ul>
			<h2>Data</h2>
    </div>
  </div>
{% endblock %}