<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  About
{% endblock %}
{% block body %}
{{super()}}
<body style="background-color:#eeeeee">
  <div class="jumbotron">
    <div class="container">
      <div class="center-content">
        <h1><b>Team Noble Prize</b></h1>
        <h2><b>Members:</b></h2>
        <p>Ellen Wiberg, Christopher Bentson, Chrystian Bueno, Rick Liao</p>
      </div>
      <div class="container">
        <div class="col-xs-12 col-s-12 col-md-6 center-content about-textbox" style="padding-bottom:30px;">
          <h3><b>Ellen Wiberg</b></h3>
          <img src='/static/EllenWiberg.jpg' class="img-thumbnail" height='200', width='200'>
          <p><b>Bio:</b> I'm a senior in the Computer Science Department at the Univeristy of Texas at Austin. I've had two internships with Bazaarvoice and Workday.</p>
	  <p><b>Major responsibilities:</b> Create SQLAlchemy models, uml diagram and model tests. Create the API.</p>
	  <p><b>No. of commits:</b> 25</p>
	  <p><b>No. of issues:</b> 6</p>
	  <p><b>No. of unit tests:</b> 9</p>
        </div>
        <div class="col-xs-12 col-s-12 col-md-6 center-content about-textbox">
          <h3><b>Christopher Bentson</b></h3>
          <img src='/static/chris.jpg' class="img-thumbnail" height='200', width='200'>
          <p><b>Bio:</b> I am a Computer Science student going on in my 5th year. I have had 2 internships with JP Morgan as an Application Developer in the Risk Finance and Treasury Technology line of business.</p>
          <p><b>Major Responsibilities:</b> implement DB, build static webpages</p>
	  <p><b>No. of commits:</b> 17</p>
	  <p><b>No. of issues:</b> 5</p>
          <p><b>No. of unit tests:</b> 0</p>
        </div>
        <div class="col-xs-12 col-s-12 col-md-6 center-content about-textbox">
          <h3><b>Chrystian Bueno</b></h3>
          <img src='static/Chrystian.png' class="img-thumbnail" height='200' width='200'>
          <p><b>Bio:</b> I am a fourth year computer science student. I've had 2 internships; one as a Student Web Developer and the other as a Software Engineer Intern.</p>
	  <p><b>Major Resposibilities:</b> Design web layout, create splash page and amplify visuals.</p>
	  <p><b>No. of commits:</b> 13</p>
	  <p><b>No. of issues:</b> 4</p>
	  <p><b>No. of unit tests:</b> 0</p>
        </div>
        <div class="col-xs-12 col-s-12 col-md-6 center-content about-textbox" style="padding-bottom:30px;">
          <h3><b>Rick Liao</b></h3>
          <img src='/static/rick.jpg' class="img-thumbnail" height='200', width='200'>
          <p><b>Bio:</b> I am a fourth year computer science student. My research is about linked data and semantics web.</p>
          <p><b>Major Reponsibilities:</b> Set up and maintain server and basic website navigation.</p>      
          <p><b>No. of commits:</b> 31</p>
          <p><b>No. of issues:</b> 10</p>
          <p><b>No. of unit tests:</b> 3</p>
        </div>
      </div>
      <div class="center-content about-textbox" style="margin-left:25%;margin-right:25%;">
        <h2><b>Stats</b></h2>
        <p>Total no. of commits: 86</p>
        <p>Total no. of issues: 25<p>
        <p>Total no. of unit tests: 12<p>
        <p><b><a href='https://jsapi.apiary.io/previews/nobelprize/reference'>Apiary API</a></b><p>
        <p><b><a href='https://github.com/rickliao/NobelPrize/issues'>GitHub Issue Tracker</a></b><p>
        <p><b><a href='https://github.com/rickliao/NobelPrize'>GitHub Repo</a></b><p>
        <p><b><a href='https://github.com/rickliao/NobelPrize/wiki'>GitHub Wiki</a></b><p>
      </div>
      <div class="about-textbox" style="padding:30px;">
        <h2><b>Data</b></h2>
        <h3><a href='https://nobelprize.readme.io/v1.0'><b>Nobel Prize API</b></a></h3>
        <p>We used requests from python to get information from the API. For example, a get call to <code>http://api.nobelprize.org/v1/prize.json?year=2008&category=economics</code> will return the information in json for nobel prize in economics in 2008. For each prize, the API also return the laureate's id, which is used to get laureate information from the same API. A get call like <code>http://api.nobelprize.org/v1/laureate.json?id=919</code> returns the information associated with the laureate whose id is 919.</p>
        <h3><a href='https://restcountries.eu/'><b>Countries API</b></a></h3>
        <p>We used this API to get information on coutnries. Each laureate returned from Nobel Prize API contains a country code, and we use this country code to scrap data of the country. For example, a get call to <code>https://restcountries.eu/rest/v1/alpha/us</code> will return the information in json on country with country code <code>us</code>, which is United States.</p>
      </div>
      <div class="center-content about-textbox" style="margin-left:25%;margin-right:25%;">
        <h2><b>Tools</b></h2>
          <h3><b>Front End:</b></h3>
          <p><a href='http://getbootstrap.com/'><b>Bootstrap</b></a></p>
          <p><a href='https://www.datatables.net/'><b>DataTables</b></a></p>
          <p><a href='https://angularjs.org/'><b>AngularJS</b></a></p>
          <h3><b>Back End:</b></h3>
          <p><a href='https://www.python.org/download/releases/3.0/'><b>Python3</b></a></p>
          <p><a href='http://flask.pocoo.org/'><b>Flask</b></a></p>
          <p><a href='https://pythonhosted.org/Flask-SQLAlchemy/'><b>Flask SQLAlchemy Extension</b></a></p>
          <p><a href='https://flask-restless.readthedocs.org/en/latest/index.html'><b>Flask Rest Extension</b></a></p>
          <p><a href='https://www.mysql.com/'><b>MySQL</b></a></p>
          <h3><b>Embedding Media:</b></h3>
          <p><a href='https://developers.google.com/image-search/v1/jsondevguide?hl=en'><b>Google Image Search API</b></a></p>
       </div>
       <div class="center-content">
         <h2><b>Tests</b></h2>
           <a href="/aboutT" class="btn btn-primary btn-lg active" role="button">Run Tests</a>
       </div>
    </div>
  </div>
</body>
{% endblock %}
