<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  {{entry['name']}}
{% endblock %}
{% block body %}
{{super()}}
<body style="background-color:#eeeeee">
  <div class="jumbotron">
    <div class="container">
      <h1>Name: {{entry['name']}}</h1>
      <div class="well well-sm">
        <h2>
            Country Code: {{entry['code']}} <br>
            Population: {{entry['pop']}} <br>
            Number of Laureate: {{entry['numLaureates']}} <br>
            Number of Prizes: {{entry['numPrizes']}} <br>
        </h2>
      </div>
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
{% endblock %}
