<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  {{entry['name']}}
{% endblock %}
{% block body %}
{{super()}}
<body class="img-background">
  <div class="jumbotron" style="background-color:transparent;">
    <div class="container center-content">
      <h1>{{entry['name']}}</h1>
      {% block content %}
          <img class="img-thumbnail img-margins" src={{imageUrl}} height={{height}} width={{width}}>
      {% endblock %}
      <div class="well well-sm img-background">
        <h2 class="inline-header"><b>Country Code:</b></h2><h3 class="inline-header"> {{entry['code']}}</h3> <br>
        <h2 class="inline-header"><b>Population:</b></h2><h3 class="inline-header"> {{entry['pop']}}</h3> <br>
        <h2 class="inline-header"><b>Number of Laureate:</b></h2><h3 class="inline-header"> {{entry['numLaureates']}}</h3> <br>
        <h2 class="inline-header"><b>Number of Prizes:</b></h2><h3 class="inline-header"> {{entry['numPrizes']}}</h3> <br>
      </div>
    </div>
  </div>
</body>
{% endblock %}
