<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  Country
{% endblock %}
{% block body %}
{{super()}}
  <div class="jumbotron">
    <div class="container">
      <h1>
        Country
      </h1>
      <table id="country" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Name</th>
            <th>Number of Prizes</th>
            <th>Number of Laureates</th>
            <th>Population</th>
          </tr>
        </thead>
        <tbody>
          {% for id in entries %}
            <tr>
              <td><a href={{entries[id]['url']}}> {{id}} </a></td>
              <td>{{entries[id]['code']}}</td>
              <td>{{entries[id]['name']}}</td>
              <td>{{entries[id]['numPrizes']}}</td>
              <td>{{entries[id]['numLaureates']}}</td>
              <td>{{entries[id]['pop']}}</td>
            </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
