<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  Intro
{% endblock %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h1>Nobel Prize</h1>
      <p class="lead">Bacon ipsum dolor sit amet tenderloin chuck jowl, drumstick pork loin kevin andouille tri-tip. Turkey biltong sirloin, tongue rump pork belly t-bone tail sausage venison corned beef. Jerky pig shoulder beef, tri-tip turducken kevin ribeye prosciutto spare ribs.</p>
      <a class="btn btn-primary btn-lg btn-block">Big ASS Learn more button</a>
    </div>
  </div>
{% endblock %}