<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  {{entry['name']}} {{entry['year']}}
{% endblock %}
{% block body %}
{{super()}}
<body style="background-color:#eeeeee">
  <div class="jumbotron">
    <div class="container">
      <h1>{{entry['name']}}</h1> 
      <div class="well well-sm">
        <h2>
        Year: {{entry['year']}} <br> 
        Number of Prizes: {{entry['numPrizes']}} <br>
        Prizes: 
        {% for prize in entry['prizes'][:-1] %}
          <a href={{entry['prizesUrl'][loop.index0]}}> {{prize}} </a>,
        {% endfor%}
        <a href={{entry['prizesUrl'][-1]}}> {{entry['prizes'][-1]}} </a> <br>
        Date of Birth: {{entry['dob']}} <br>
        Gender: {{entry['gender']}} <br>
        Country: <a href={{entry['countryUrl']}}> {{entry['country']}} </a> </h2>
      </div>
      {% block content %}
          <img src={{imageUrl}} height={{height}} width={{width}}>
      {% endblock %}
      
    </div>
  </div>
</body>
{% endblock %}
