<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  Laureate
{% endblock %}
{% block body %}
{{super()}}
<body style="background-color:#eeeeee">
  <div class="jumbotron">
    <div class="container">
      <h1>
        Laureate
      </h1>
      <table id="laureate" class="display">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Number of Prizes</th>
            <th>Prizes</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
            <tr>
              <td><a href={{entry['url']}}> {{entry['id']}} </a></td>
              <td>{{entry['name']}}</td>
              <td>{{entry['numPrizes']}}</td>
              <td>
                {% for prize in entry['prizes'][:-1] %}
                  <a href={{entry['prizesUrl'][loop.index0]}}> {{prize}} </a>,
                {% endfor%}
                <a href={{entry['prizesUrl'][-1]}}> {{entry['prizes'][-1]}} </a>
              </td>
              <td>{{entry['dob']}}</td>
              <td>{{entry['gender']}}</td>
              <td> {% if entry['countryUrl'] is equalto "/error" %} 
                     {{entry['country']}}
                   {% elif %} 
                     <a href={{entry['countryUrl']}}> {{entry['country']}} </a>
                   {% endif %}
              </td>
            </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock %}
