<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  {{entry['name']}} {{entry['year']}}
{% endblock %}
{% block body %}
{{super()}}
<body class="img-background">
  <div class="jumbotron" style="background-color:transparent">
    <div class="container center-content">
      <h1>{{entry['name']}}</h1> 
      {% block content %}
        <img class="img-thumbnail img-margins" src={{imageUrl}} height={{height}} width={{width}}>
      {% endblock %}
      <div class="well well-sm img-background">
        <h2 class="inline-header"><b>Year:</b></h2><h3 class="inline-header"> {{entry['year']}} </h3><br> 
        <h2 class="inline-header"><b>Number of Prizes:</b></h2><h3 class="inline-header"> {{entry['numPrizes']}} </h3><br>
        <h2 class="inline-header"><b>Prizes:</b></h2> 
        {% for prize in entry['prizes'][:-1] %}
          <a href={{entry['prizesUrl'][loop.index0]}}><h3 class="inline-header"> {{prize}} </h3></a>,
        {% endfor%} 
        <a href={{entry['prizesUrl'][-1]}}><h3 class="inline-header"> {{entry['prizes'][-1]}} </h3></a> <br>
        <h2 class="inline-header"><b>Gender:</b></h2><h3 class="inline-header"> {{entry['gender']}}</h3> <br>
        <h2 class="inline-header"><b>Date of Birth:</b></h2><h3 class="inline-header"> {{entry['dob']}}</h3> <br>
        {% if entry['countryUrl'] != "/error" %}
            <h2 class="inline-header"><b>Country:</b></h2><a href={{entry['countryUrl']}}><h3 class="inline-header"> {{entry['country']}} </h3></a>
        {% else %}
            <h2 class="inline-header"><b>Country:</b></h2><h3 class="inline-header">{{entry['country']}}</h3>
        {% endif %}
      </div>      
    </div>
  </div>
</body>
{% endblock %}
