<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  API Demonstration
{% endblock %}
{% block body %}
{{super()}}
<body style="background-color:#eeeeee">
  <div class="jumbotron">
    <div class="container">
      <h1>API:</h1>
        <p>These are statistics compiled using the data extrapolated from the Music Mecca website. This graph shows songs per artist.</p>
        <script>
        var data = "{{val}}"
        var dataArr = data.split("|")
        dataArr[0] = dataArr[0].substring(5, dataArr[0].length)
        var pairArr = []
        for(i = 0; i < dataArr.length-1; i++) {
          var pair = dataArr[i].split(" ")
          var pairObj = {'artist':pair[0], 'songs':pair[1]}
          pairArr.push(pairObj)
        }
        var chart = AmCharts.makeChart( "chartdiv", {
          "type": "serial",
          "theme": "light",
          "dataProvider": pairArr,
          "valueAxes": [ {
            "gridColor": "#FFFFFF",
            "gridAlpha": 0.2,
            "dashLength": 0,
            "position": "left",
            "title": "Number of Songs"
          } ],
          "gridAboveGraphs": true,
          "startDuration": 1,
          "graphs": [ {
            "balloonText": "[[category]]: <b>[[value]]</b>",
            "fillAlphas": 0.8,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "songs"
          } ],
          "chartCursor": {
            "categoryBalloonEnabled": false,
            "cursorAlpha": 0,
            "zoomable": false
          },
          "categoryField": "artist",
          "categoryAxis": {
            "gridPosition": "start",
            "gridAlpha": 0,
            "tickPosition": "start",
            "tickLength": 20,
            "title": "Artist"
          },
          "export": {
            "enabled": true
          } 
          } );
      </script>
      <div id="chartdiv"></div>
      
    </div>
  </div>
</body>
{% endblock %}
