<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">
    <style>body {padding-top: 50px;}</style>
    <script src="/static/jquery-1.11.3.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/start_datatable.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/functions.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/dark.js"></script>
    {% endblock %}
  </head> 
  {% block body %}
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar-style">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--- <a class="navbar-left" style="padding-top:10px;" href="/"><img src="/static/NobelPrizeLogo.png" name="NobelPrize" onmouseover="invs(this.name)" onmouseout="rmInvs(this.name)" height="65px" width="250px"></a> -->
        </div>
	<form class="navbar-form navbar-right form-inline" style="padding:10px;" action="/searchURL/" method="POST">
  	  <input class="btn btn-default" type="submit" style="float: right"/>
          <div style="overflow: hidden; padding-right: .5em;">
            <input class="form-control" type="text" name="search" style="width: 100%;" />
          </div>
        </form>
        <div class="collapse navbar-collapse" id="navigationbar">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/"><img src="/static/HomeLogo.png" name="Home" onmouseover="invs(this.name)" onmouseout="rmInvs(this.name)" height="46px" width="112px"/></a></li>
            <li><a href="/prize"><img src="/static/PrizeLogo.png" name="Prize" onmouseover="invs(this.name)" onmouseout="rmInvs(this.name)" height="52px" width="99px"/></a></li>
            <li><a href="/laureates"><img src="/static/LaureateLogo.png" name="Laureate" onmouseover="invs(this.name)" onmouseout="rmInvs(this.name)" height="46px" width="153px"/></a></li>
            <li><a href="/countries"><img src="/static/CountryLogo.png" name="Country" onmouseover="invs(this.name)" onmouseout="rmInvs(this.name)" height="55px" width="139px"/></a></li>
            <li><a href="/about"><img src="/static/AboutLogo.png" name="About" onmouseover="invs(this.name)" onmouseout="rmInvs(this.name)" height="46px" width="114px"/></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>  
  </body>
  {% endblock %}
</html>
