<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  Prize
{% endblock %}
{% block body %}
{{super()}}
  <div class="jumbotron">
    <div class="container">
      <h1>
        Prize
      </h1>
      <table id="prize" class="display">
        <thead>
          <tr>
            <th>ID</th>
            <th>Year</th>
            <th>Category</th>
            <th>Number of Laureates</th>
            <th>Laureate(s)</th>
            <th>Motivation</th>
          </tr>
        </thead>
        <tbody>
          {% for id in entries %}
            <tr>
              <td><a href={{entries[id]['url']}}> {{id}} </a></td>
              <td>{{entries[id]['year']}}</td>
              <td>{{entries[id]['category']}}</td>
              <td>{{entries[id]['numLaureate']}}</td>
              <td>{% for person in entries[id]['laureate'][:-1] %}
                  <a href={{entries[id]['laureateUrl'][loop.index0]}}> {{person}} </a>,
                {% endfor%}
                <a href={{entries[id]['laureateUrl'][-1]}}> {{entries[id]['laureate'][-1]}} </a>
              </td>
              <td>{{entries[id]['motivation']}}</td>
            </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
