<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  {{entry['year']}} {{entry['category']}}
{% endblock %}
{% block body %}
{{super()}}
<body class="img-background">
  <div class="jumbotron" style="background-color:transparent">
    <div class="container center-content">
      <h1>{{entry['category']}}</h1>
       {% block content %}
          <img class="img-thumbnail img-margins" src={{imageUrl}} height={{height}} width={{width}}>
       {% endblock %}
        <div class="dynamic-textbox">
          <h2 class="inline-header"><b>Year:</b></h2><h3 class="inline-header"> {{entry['year']}} </h3><br>
          <h2 class="inline-header"><b>Number of Laureate:</b></h2><h3 class="inline-header"> {{entry['numLaureate']}} </h3><br>
          <h2 class="inline-header"><b>Laureate:</b></h2>
          <h3 class="inline-header">
              {% for v in entry['laureate'][:-1] %}
                <a href={{entry['laureateUrl'][loop.index0]}}> {{v}} </a>,
              {% endfor %}
            <a href={{entry['laureateUrl'][-1]}}> {{entry['laureate'][-1]}} </a> 
          </h3><br>
          <h2 class="inline-header"><b>Motivation:</b></h2><h3 class="inline-header"> {{entry['motivation']}}</h3><br>
      </div>
    </div>
  </div>
</body>
{% endblock %}
