<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  Prize
{% endblock %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <table id="prize" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Year</th>
            <th>Category</th>
            <th>Number of Laureates</th>
            <th>Laureate(s)</th>
            <th>Motivation</th>
          </tr>
        </thead>
        <tbody>
          {% for id in entries %}
            <tr>
              <td><a href={{entries[id]['url']}}> {{id}} </a></td>
              <td>{{entries[id]['year']}}</td>
              <td>{{entries[id]['category']}}</td>
              <td>{{entries[id]['numLaureate']}}</td>
              <td>{% for person in entries[id]['laureate'][:-1] %}
                  {{person}},
                {% endfor%}
                {{entries[id]['laureate'][-1]}}
              </td>
              <td>{{entries[id]['motivation']}}</td>
            </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}