<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  {{entry['year']}} {{entry['category']}}
{% endblock %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h1>{{entry['category']}}</h1>
      <div class="well well-sm">
        <h2>Year: {{entry['year']}} <br>
            Number of Laureate: {{entry['numLaureate']}} <br>
            Laureate:
            {% for v in entry['laureate'][:-1] %}
              <a href={{entry['laureateUrl'][loop.index0]}}> {{v}} </a>,
            {% endfor %}
            <a href={{entry['laureateUrl'][-1]}}> {{entry['laureate'][-1]}} </a> 
        </h2>
        <p class="lead">Motivation: {{entry['motivation']}}</p>
      </div>
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
