<!DOCTYPE html>
{% extends "navbar.html" %}
{% block title %}
  search: {{term}}
{% endblock %}
{% block body %}
{{super()}}
<body class="img-background">
  <div class="jumbotron" style="background-color:transparent">
    <div class="container center-content">
      <h1>Search: {{term}}</h1>
      <h2>AND Result: </h2>
      {% for titleName in titlesAnd %}
          <h3><a href={{linksAnd[loop.index0]}}> {{titleName}} </a></h3>
          <div class="well well-sm img-background">
              <p>{{contextsAnd[loop.index0]}}</p>
          </div>
      {% endfor %}
      
      <h2>OR Result: </h2>
      {% for titleName in titlesOr %}
          <h3><a href={{linksOr[loop.index0]}}> {{titleName}} </a></h3>
          <div class="well well-sm img-background">
              <p>{{contextsOr[loop.index0]}}</p>
          </div>
      {% endfor %}      
    </div>
  </div>
</body>
{% endblock %}
